#parse("admin/common/common_data.htm")
<header class="main-header">

  <a href="index2.html" class="logo">
    <span class="logo-mini"><b>贺格</b></span>
    <span class="logo-lg">上海<b>贺格</b></span>
  </a>

  <nav class="navbar navbar-static-top">
    <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="$!viewFile/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">郝希文</span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <img src="$!viewFile/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

              <p>
                上海贺格
                <small>销售总监</small>
              </p>
            </li>
            <li class="user-footer">
              <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat">注销登录</a>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>