<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="$!viewFile/plugins/iCheck/all.css">
<link rel="stylesheet" href="$!viewFile/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="$!viewFile/dist/css/AdminLTE-plus.css">
<link rel="stylesheet" href="$!viewFile/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="$!viewFile/dist/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="$!viewFile/plugins/datepicker/datepicker3.css">
<link rel="stylesheet" href="$!viewFile/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">