<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="shhege,上海贺格" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="$!viewFile/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="$!viewFile/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="$!viewFile/js/jquery-1.11.1.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
<script src="$!viewFile/js/bootstrap.js"> </script>
<script type="text/javascript" src="$!viewFile/js/jquery.flexisel.js"></script>
<script type="text/javascript" src="$!commnPath/js/common_.js"></script>
<script type="text/javascript" src="$!viewFile/js/common_js.js"></script>