<div class="banner-other">
	<div class="container">
		<div class="header-nav">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
				  <img src="$!viewFile/images/logo.jpg" alt="">
				</div>

				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="$!contextPath/index.do" target="_blank">网站首页</a></li>
						<li class="active"><a href="$!contextPath/profile.do" target="_blank">关于我们</a></li>
						<li><a href="$!contextPath/product.do" target="_blank">产品中心</a></li>
						<li><a href="$!contextPath/sample.do" target="_blank">客户案例</a></li>
						<li><a href="$!contextPath/invite.do" target="_blank">人才招聘</a></li>
						<li><a href="$!contextPath/contact.do" target="_blank">联系我们</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</div>	