<div class="footer">
	<div class="container">
		<div class="footer-row">
			<div class="col-md-4 footer-grids">
				<h4><a href="$!contextPath/contact.do">联系我们</a></h4>
				<p><a href="javascript:void(0);">销售部： $!key_sysParam.key_sysParam_saleTel</a></p>
				<p><a href="javascript:void(0);">技术部： $!key_sysParam.key_sysParam_technicalTel</a></p>
				<p><a href="javascript:void(0);">电话： $!key_sysParam.key_sysParam_companyTel</a></p>
				<p><a href="javascript:void(0);">传真： $!key_sysParam.key_sysParam_companyFox</a></p>
				<p><a href="javascript:void(0);">邮箱： $!key_sysParam.key_sysParam_companyEmail</a></p>
				<p><a href="javascript:void(0);">地址： $!key_sysParam.key_sysParam_companyAddress</a></p>
				<p><a href="javascript:void(0);">备案： $!key_sysParam.key_sysParam_recordNo</a></p>
			</div>
			<div class="col-md-3 footer-grids">
				<h3>二维码</h3>					
				<img src="$!viewFile/images/erweima.jpg" alt="" style="width: 100px;">
			</div>
			<div class="col-md-2 footer-grids">
				<h3>友情链接</h3>
				<ul>
					<li><a href="https://www.baidu.com/" target="_blank">百度</a></li>
					<li><a href="http://www.alibaba.com/" target="_blank">阿里巴巴</a></li>
					<li><a href="https://shanghaihege.1688.com/" target="_blank">阿里贺格</a></li>
					<li><a href="$!contextPath/admin/customer.do" target="_blank">员工登陆</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-grids">	
				<h3>给我留言</h3>
				<p>如果您有任何疑问，请给我们留言<p>
				<a href="$!contextPath/contact.do" class="msg-button" target="_blank">留言</a>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="footer-bottom">
	<div class="container">		
		<p>Copyright © $!key_sysParam.key_sysParam_copyRight 上海贺格精密机械有限公司 上海热板机 超声波焊接机 折叠滤芯焊接设备</p>			
	</div>
</div>