<!DOCTYPE html>
<html>
<head>
<title>关于我们</title>
#parse("web/common/common_link.htm")
</head>
<body>
	#parse("web/common/common_banner.htm")
	<div class="about-bottom">
		<div class="container">
			<div class="about-bottom-grids">
				<div class="col-md-7 about-bottom-grid-left">
					<h3>关于我们</h3>
					<h4>公司介绍：</h4>
					<p>上海贺格精密机械有限公司， 是一家专业制造塑胶焊接机系列产品的公司。公司在焊接方案设计，焊接工艺制订和设备制造技术上积累了多年经验。本公司设备涉及折叠滤芯成套生产线，汽车油滤红外线焊接，非标红外线焊接设备，超声波自动化焊接，汽车雷达冲焊一体机，汽车门板热铆机，汽车内饰件专用焊接机，非标自动化装备焊接，机器人自动焊接等</p>
					<h4>公司理念：</h4>
					<p>不断提高服务质量，逐步形成一套优质我们的服务触及全国每一个角落，在全国任何地方的用户都能得到周到细致的服务。</p>
				</div>
				<div class="col-md-5 about-bottom-grid-right">
					<h3>团队领袖</h3>
					<div class="about-bottom-grid-right-grid">
						<div class="about-bottom-grid-right-grdl">
							<img src="$!viewFile/images/11.jpg" alt=" " class="img-responsive" style="border-radius: 10px;"/>
						</div>
						<div class="about-bottom-grid-right-grdr">
							<p><span>选</span>择我们，不会让你失望，我们立志于解决国内外众多机械制造难点，突破瓶口，实现优越。</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="about-bottom-grid-right-grid">
						<div class="about-bottom-grid-right-grdl">
							<img src="$!viewFile/images/12.jpg" alt=" " class="img-responsive" style="border-radius: 10px;"/>
						</div>
						<div class="about-bottom-grid-right-grdr">
							<p><span>选</span>择我们，不会让你失望，我们立志于解决国内外众多机械制造难点，突破瓶口，实现优越。</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="about">
		<div class="container">
			<h3>我们的环境</h3>
			<div class="about-grids">
				<div class="col-md-4 about-grid">
					<img src="$!viewFile/images/profile-us-1.jpg" alt=" " class="img-responsive" />
					<div class="img-bottom">
						<p>宏伟的工厂</p>
					</div>
				</div>
				<div class="col-md-4 about-grid">
					<img src="$!viewFile/images/profile-us-2.jpg" alt=" " class="img-responsive" />
					<div class="img-bottom">
						<p>办公室一角</p>
					</div>
				</div>
				<div class="col-md-4 about-grid">
					<img src="$!viewFile/images/profile-us-3.jpg" alt=" " class="img-responsive" />
					<div class="img-bottom">
						<p>活泼的同事</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-grids-bottom">
				<div class="col-md-4 about-us">
					<h4>工厂</h4>
					<p>工厂坐落于上海奉贤，占地200亩，先进的德国制造机械，专业的工业制图设计，完美的产品质量保证。</p>
				</div>
				<div class="col-md-4 about-us">
					<h4>办公楼</h4>
					<p>办公楼里的精英们，完善着销售，行政，设计等复杂的脑力劳作，默默的支持着贺格一步步的成长。</p>
				</div>
				<div class="col-md-4 about-us">
					<h4>同事</h4>
					<p>技术部门优秀的设计师和工程师，70%是本科学历，20%硕士毕业，5年以上的工作经验，使得他们遇到多么困难的难题，都可以笑着面对，并解决。</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="history">
		<div class="container">
			<div class="col-md-8 history-left">	
				<h3>核心技术</h3>
				<div class="history-left-grid">
					<img src="$!viewFile/images/classify1.jpg" alt="">
					<img src="$!viewFile/images/classify2.jpg" alt="">
					<img src="$!viewFile/images/classify3.jpg" alt="">
				</div>
			</div>
			<div class="col-md-4 history-right">
				<h3>...</h3>
				<p>我们的优势在中国超过十年持续稳健的发展,使得领行万国能够不间断的发展我们的独特优势,并在行业内 持续的保有品牌的权威性、强大的咨询实施能力和旺盛的创新研发</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	#parse("web/common/common_footer.htm")
</body>
</html>