<!DOCTYPE html>
<html>
<head>
<title>客户案例</title>
#parse("web/common/common_link.htm")
</head>
<body>
	#parse("web/common/common_banner.htm")
	<div class="gallery">		
		<div class="container">
			<h3>应用客户</h3>
			<div class="top-gallery">
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/1.jpg" class="swipebox">
						<img src="$!viewFile/images/f-1.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>3M</h4>
							<p></p>
						</div>
					</a>
				</div>
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/2.jpg" class="swipebox">
						<img src="$!viewFile/images/f-2.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>安吉尔</h4>
							<p></p>
						</div> 
					</a>
				</div>
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/3.jpg" class="swipebox">
						<img src="$!viewFile/images/f-3.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>cobetter</h4>
							<p></p>
						</div>
					</a>
				</div>
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/4.jpg" class="swipebox">
						<img src="$!viewFile/images/f-4.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>ANOW</h4>
							<p></p>
						</div>
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="top-gallery">
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/9.jpg" class="swipebox">
						<img src="$!viewFile/images/f-5.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>ZenPure</h4>
							<p></p>
						</div>
					</a>
				</div>
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/13.jpg" class="swipebox">
						<img src="$!viewFile/images/f-6.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>迅洁</h4>
							<p></p>
						</div> 
					</a>
				</div>
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/14.jpg" class="swipebox">
						<img src="$!viewFile/images/f-7.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>别克</h4>
							<p></p>
						</div>
					</a>
				</div>
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/15.jpg" class="swipebox">
						<img src="$!viewFile/images/f-8.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>大众</h4>
							<p></p>
						</div>
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>		
			<div class="top-gallery">
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/2.jpg" class="swipebox">
						<img src="$!viewFile/images/f-9.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>福特</h4>
							<p></p>
						</div>
					</a>
				</div>
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/4.jpg" class="swipebox">
						<img src="$!viewFile/images/f-10.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>五星</h4>
							<p></p>
						</div> 
					</a>
				</div>
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/9.jpg" class="swipebox">
						<img src="$!viewFile/images/f-11.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>BOSCH</h4>
							<p></p>
						</div>
					</a>
				</div>
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/13.jpg" class="swipebox">
						<img src="$!viewFile/images/f-12.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>MAHLE</h4>
							<p></p>
						</div>
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<link rel="stylesheet" href="css/swipebox.css">
						<script src="js/jquery.swipebox.min.js"></script> 
							<script type="text/javascript">
								jQuery(function($) {
									$(".swipebox").swipebox();
								});
							</script>
		</div>
	</div>
	<div class="gallery">		
		<div class="container">
			<h3>焊接样品</h3>
			<div class="top-gallery">
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/1.jpg" class="swipebox">
						<img src="$!viewFile/images/hj-1.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							
						</div>
					</a>
				</div>
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/2.jpg" class="swipebox">
						<img src="$!viewFile/images/hj-2.jpg" class="img-responsive" alt="/">
						<div class="textbox">
						</div> 
					</a>
				</div>
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/3.jpg" class="swipebox">
						<img src="$!viewFile/images/hj-3.jpg" class="img-responsive" alt="/">
						<div class="textbox">
						</div>
					</a>
				</div>
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/4.jpg" class="swipebox">
						<img src="$!viewFile/images/hj-4.jpg" class="img-responsive" alt="/">
						<div class="textbox">
						</div>
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="top-gallery">
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/9.jpg" class="swipebox">
						<img src="$!viewFile/images/hj-5.jpg" class="img-responsive" alt="/">
						<div class="textbox">
						</div>
					</a>
				</div>
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/13.jpg" class="swipebox">
						<img src="$!viewFile/images/hj-6.jpg" class="img-responsive" alt="/">
						<div class="textbox">
						</div> 
					</a>
				</div>
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/14.jpg" class="swipebox">
						<img src="$!viewFile/images/hj-7.jpg" class="img-responsive" alt="/">
						<div class="textbox">
						</div>
					</a>
				</div>
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/15.jpg" class="swipebox">
						<img src="$!viewFile/images/hj-8.jpg" class="img-responsive" alt="/">
						<div class="textbox">
						</div>
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>		
			<div class="top-gallery">
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/2.jpg" class="swipebox">
						<img src="$!viewFile/images/hj-9.jpg" class="img-responsive" alt="/">
						<div class="textbox">
						</div>
					</a>
				</div>
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/4.jpg" class="swipebox">
						<img src="$!viewFile/images/hj-10.jpg" class="img-responsive" alt="/">
						<div class="textbox">
						</div> 
					</a>
				</div>
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/9.jpg" class="swipebox">
						<img src="$!viewFile/images/hj-11.jpg" class="img-responsive" alt="/">
						<div class="textbox">
						</div>
					</a>
				</div>
				<div class="col-md-3 gallery-grid-smal gallery1">
					<a href="images/13.jpg" class="swipebox">
						<img src="$!viewFile/images/hj-12.jpg" class="img-responsive" alt="/">
						<div class="textbox">
						</div>
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<link rel="stylesheet" href="css/swipebox.css">
						<script src="$!viewFile/js/jquery.swipebox.min.js"></script> 
							<script type="text/javascript">
								jQuery(function($) {
									$(".swipebox").swipebox();
								});
							</script>
		</div>
	</div>
	#parse("web/common/common_footer.htm")
</body>
</html>