<!DOCTYPE html>
<html>
<head>
<title>产品中心</title>
#parse("web/common/common_link.htm")
</head>
<body>
	#parse("web/common/common_banner.htm")
	<div class="about-bottom product-banner">
		<div class="container">
			<div class="about-bottom-grids">
				<div class="col-md-2 product-banner-col">
					<a href="$!contextPath/product/classify.do?catagotyId=$!productCatagoryVo.id1">
						<img src="$!productCatagoryVo.imgUrl1" alt="">
						<p class="type-name">$!productCatagoryVo.name1</p>
					</a>
				</div>
				<div class="col-md-2 product-banner-col">
					<a href="$!contextPath/product/classify.do?catagotyId=$!productCatagoryVo.id2">
						<img src="$!productCatagoryVo.imgUrl2" alt="">
						<p class="type-name">$!productCatagoryVo.name2</p>
					</a>
				</div>
				<div class="col-md-2 product-banner-col">
					<a href="$!contextPath/product/classify.do?catagotyId=$!productCatagoryVo.id3">
						<img src="$!productCatagoryVo.imgUrl3" alt="">
						<p class="type-name">$!productCatagoryVo.name3</p>
					</a>
				</div>
				<div class="col-md-2 product-banner-col">
					<a href="$!contextPath/product/classify.do?catagotyId=$!productCatagoryVo.id4">
						<img src="$!productCatagoryVo.imgUrl4" alt="">
						<p class="type-name">$!productCatagoryVo.name4</p>
					</a>
				</div>
				<div class="col-md-2 product-banner-col">
					<a href="$!contextPath/product/classify.do?catagotyId=$!productCatagoryVo.id5">
						<img src="$!productCatagoryVo.imgUrl5" alt="">
						<p class="type-name">$!productCatagoryVo.name5</p>
					</a>
				</div>
				<div class="col-md-2 product-banner-col">
					<a href="$!contextPath/product/classify.do?catagotyId=$!productCatagoryVo.id6">
						<img src="$!productCatagoryVo.imgUrl6" alt="">
						<p class="type-name">$!productCatagoryVo.name6</p>
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="banner-bottom-video product-show">
		<div class="container">
			<div class="banner-bottom-video-grids">
				<div class="col-md-12">
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						  		<h4 class="panel-title">滤芯端盖机
							</a>
						  </h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						  <div class="panel-body">
							<img src="$!viewFile/images/product-show-1.jpg" alt="">
						  </div>
						</div>
					  </div>
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
						  <h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							  塑料门窗焊接机
							</a>
						  </h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						   <div class="panel-body">
							<img src="$!viewFile/images/product-show-2.jpg" alt="">
						  </div>
						</div>
					  </div>
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
						  <h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							  超声波焊接机
							</a>
						  </h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						   <div class="panel-body">
							<img src="$!viewFile/images/product-show-3.jpg" alt="">
						  </div>
						</div>
					  </div>
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingFour">
						  <h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
							  自动冰盒设备
							</a>
						  </h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
						   <div class="panel-body">
							<img src="$!viewFile/images/product-show-4.jpg" alt="">
						  </div>
						</div>
					  </div>
					   <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingFive">
						  <h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
							  汽车尾灯焊接机
							</a>
						  </h4>
						</div>
						<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
						   <div class="panel-body">
							<img src="$!viewFile/images/product-show-5.jpg" alt="">
						  </div>
						</div>
					  </div>
					   <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingSix">
						  <h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
							  立式红外线焊接机	
							</a>
						  </h4>
						</div>
						<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
						   <div class="panel-body">
							<img src="$!viewFile/images/product-show-6.jpg" alt="">
						  </div>
						</div>
					  </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	#parse("web/common/common_footer.htm")
</body>
</html>